body {
    background-image: url('https://ak9.picdn.net/shutterstock/videos/8128789/thumb/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
	text-align: center;
	overflow-x: hidden;
}









button{
  margin: 20px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #00bbff 5%, #408c99 100%);
	background-color:#00bbff;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #00bbff 100%);
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}


.insert {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #00bbff 5%, #408c99 100%);
	background-color:#00bbff;
  margin:20px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.insert:hover {
	background:linear-gradient(to bottom, #408c99 5%, #00bbff 100%);
	background-color:#408c99;
}
.insert:active {
	position:relative;
	top:1px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #00bbff 5%, #408c99 100%);
	background-color:#00bbff;
	border-radius:8px;
	display:inline-block;
  margin:20px;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn {
	background:linear-gradient(to bottom, #408c99 5%, #00bbff 100%);
	background-color:#408c99;
}
.btn {
	position:relative;
	top:1px;
}
